
div {
	background-color: white;
	width: 94%;
	border: 15px solid grey;
	padding: 3%;
}


body {
	background-color:darkred;
	color: black;
	margin-left:10%;
	margin-right:10%;
	padding: 5%;
}

h1, h2 {
	text-align: center;
}

.center {
	text-align: center;
}

h1 {
	color:black;
	font-weight: 900;
	
}
h2 {
	color: silver;
}

a:link {
	color:#610404;
}
a:visited {
	color:#ff0909;
}
a:hover {
	color:#a80505;
}
a:active {
	color:#ca2121;
}