body {
	background-color:black;
	color:white;
	margin-left: 200px;
	margin-right: auto;
}
h1 {
	color: #ad0000;
}
a:link {
	color:#610404;
}
a:visited {
	color:#ff0909;
}
a:hover {
	color:#a80505;
}
a:active {
	color:#ca2121;
}