
body {
	background-color:#aadff0;
	color: black;
	margin-left:10%;
	margin-right:auto;
	padding: 5%;
}

div {
	background-color: white;
	width: 70%;
	border: 15px solid grey;
	padding: 3%;
}


h1 {
	color:red;
	margin-left: 20%;
	font-weight: 900;
	
}
h2 {
	color: purple;
	margin-left: 19%;
}

a:link {
	color:#610404;
}
a:visited {
	color:#ff0909;
}
a:hover {
	color:#a80505;
}
a:active {
	color:#ca2121;
}

}